html,body {
    background-color: #000;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}
.clear {
    clear:both;

}
html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
a,
a:visited,
a:hover,
a:active {
    color: #2a76f4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h3{
    border-bottom: 1px dotted #333333;
    margin: .25em 0;
    padding-bottom: .5em;
}

.page {
    display:block;
    width: 900px;
    margin: 0 auto;
    padding: 30px 30px 50px;
    background: #0d0d0d;

}


.canvas-container {
    text-align: center;
    margin: 0 0 10px;
}
#canvas {
    margin: 1px auto;
    border: 1px solid #555;

}


.block h3,
.block p,
.block ul{

    padding-left: 4px;
    padding-right: 4px;
}

.block ul {

}
.instructions {
    float:left;
}
.level-list {
    float:right;
    margin: 0 0 14px 14px;

}
.level-list ul,
.level-list li {
    list-style: none;
    padding:0;
}

.level-list li a{
    display:block;
    padding: 4px 4px;
}

.level-list li a:hover {
    text-decoration: none;
    background: #1a1a1a;
}

